# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Jest testing
coverage/
jest-report/

# Database backups or files
*.sqlite
*.pgdata

# System files
.DS_Store
Thumbs.db
